<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
        <string>local.move_old_torrents</string>
    <key>ProgramArguments</key>
        <array>
            <string>/Users/martina/dev/martinalmlof/transmission-util/move_old_torrents.sh</string>
        </array>
    <key>WorkingDirectory</key>
        <string>/Users/martina/dev/martinalmlof/transmission-util/</string>
	<key>StartCalendarInterval</key>
        <array>
            <dict>
                <key>Hour</key>
                <integer>3</integer>
            </dict>
        </array>
    <key>RunAtLoad</key>
        <false/>
    <key>Disabled</key>
        <false/>
    <key>KeepAlive</key>
        <false/>
    <key>StandardOutPath</key>
        <string>/Users/martina/Library/Logs/move_torrents.log</string>
    <key>StandardErrorPath</key>
        <string>/Users/martina/Library/Logs/move_torrents.log</string>
    <key>LowPriorityIO</key>
        <true/>
    <key>Debug</key>
        <true/>
</dict>
</plist>
